= para_form_for(resource) do |form|
  = form.error_notification

  = form.fieldset do
    = form.input :title
    = form.input :published_on
    = form.input :tag_list, input_html: { class: 'selectize-tags' }
    = form.input :active
    = form.input :content, as: :redactor
    = form.input :comments, as: :nested_many, add_button: false
  = form.actions
